* {
  margin: 0;
  padding: 0;
}
html {
  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
  color: #FFF;
  width: 100%;
  height: 100%;
}
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  width: 80%;
  height: 80%;
  margin: 1em auto;
}
.wrapper header {
  height: 19%;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 1em #000;
}
.wrapper #main-area {
  width: 100%;
  height: 80%;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.4);
  background-image: url('../../assets/grid.png');
  background-repeat: no-repeat;
  background-position: left top;
  border: 1px #FFF solid;
  box-shadow: 0 0 1em #FFF;
  display: block;
}
#popup {
  width: 50%;
  display: none;
  border: 4px #000 solid;
  background: #FFF;
  padding: 1em;
  box-shadow: 0 0 1em #000;
  position: absolute;
  color: #000;
  text-align: center;
}
#popup #popup-header {
  margin-bottom: 1em;
  border-bottom: 1px #000 solid;
}
#popup #popup-close {
  font-weight: bold;
}
#popup #popup-close a {
  font-style: none;
  color: #000;
}
#popup #popup-close a:hover {
  color: #555;
}
#popup blockquote {
  overflow: scroll;
  background: #eaeaea;
  margin: 1em;
  padding: 0.5em;
  max-height: 10em;
}
