<!DOCTYPE html>
<html>

<head>
  <title>Never Dull - Admin</title>
  <meta charset="UTF-8" />
  <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/admin/style.css" media="screen" />
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Never Dull Admin</h1>
      <h4>Administration for administrators to administr...</h4>
    </header>
    <div id="wrapper">
      <div id="teams">
        <div id="scoreboard-area">
          <ul id="scoreboard"></ul>
        </div>
        <div id="team-administration">
          <div id="team-add">
            <h3>Add team</h3>
            <p>
              <strong>Name:</strong>
              <input type="text" placeholder="Team name" id="add-team-name" />
            </p>
            <p>
              <strong>Avatar:</strong>
              <input type="url" id="add-team-avatar" />
            </p>
            <p>
              <button id="add-team-name-submit">Add!</button>
          </div>
        </div>
      </div>
      <div id="solutions">
        <h2>Solutions</h2>
        <div id="solution-lists-area">
          <select id="solution-list"></select>
          <div id="solution-options">
            <button id="approve-solution">Approve</button>
            <button id="decline-solution">Decline</button>
          </div>
        </div>
      </div>
    </div>
    <script src="js/admin/app.js" type="text/javascript"></script>
  </div>
</body>

</html>
